.header {
    // 画面いっぱい
    width: 100%;
}

.wrapper {
    width: 970px;

    // margin: top side bottom
    margin: 30px auto 40px;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.main {
    // main タグに対応していないブラウザにも対応するため
    // display: block; を指定
    display: block;
    float: left;
    width: 660px;
    background-color: yellow;
}

.sidemenu {
    float: right;
    width: 275px;
    background-color: blue;
}

.footer {
    // 画面いっぱい
    width: 100%;
}

.main, .header, .sidemenu, .footer {
    border: 1px solid #aaa;
    background-color: #ccc;

}

.header, .footer {
    height: 100px;
}

.main, .sidemenu {
    height: 500px;
}